body {
    margin-left: 7%;
    margin-right: 7%; 
}

h1 {
    font-family: 'Lora', serif;
    font-size: 75px;
    line-height: 0.8;
    padding-bottom: 0; 
}

h2 {
    font-size: 45px; 
    font-family: 'Dancing Script', cursive;
    padding-top: 10px; 
}

#headerText {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.container-fluid {
    margin-top: 5%;
}

#familyPhoto {
    /* padding-top: 120px;  */
    max-width: 640px; 
    min-width: 340px; 
    width: 100%; 
    height: auto; 
    /* margin-top: 15%; */
}

/* .col-md {
    margin-top: 50px;
    margin-left: 50px; 
} */

#socialTags {
    /* position: absolute;
    top: 200px;
    left:0;
    z-index: 10;
    bottom:0;
    right:0;
    height:100%; */
    color: red; 
    margin-top: 5%; 
}

.img-responsive {
    margin: 0 auto;
}

#headshot {
    float: right;
    margin-left: 10px; 
}

/* .vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  } */
/* font-family: 'Montserrat', sans-serif;